[app]
${public_ip} ansible_user=${admin_username} ansible_ssh_private_key_file=${ssh_key_path}

[app:vars]
ansible_python_interpreter=/usr/bin/python3
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
app_fqdn=${fqdn}
app_public_ip=${public_ip}
